[flake8]

max-line-length = 110
ignore = E701, E203, W605

per-file-ignores =
    # __init__.py files are allowed to have unused imports and lines-too-long
    */__init__.py:F401

exclude = system_tests,.git,__pycache__,docs/source/conf.py,old,build,dist